
<div class="test"><h1>You can book G2/G drive test from this Kiosk</h1>
    <p>You can book G2/G drive test from this Kiosk</p>
    <div class="test1"><p>Posted by DriveTest Center</p></div>
    </div>
    
    <div class="container">
        <h2>Frequently Asked Questions</h2>
        <details>
        <summary>How do I book a G2 driving test?</summary>
    
        <div>
         You can book a G2 road test online, by phone, or at any DriveTest Centre. 
           To book, you’ll need your G1 license, your preferred DriveTest Centre location (and two backup locations),
         the date and time you want to take the test, and a credit or debit card to pay for the test. The road test costs $53.75,
          
            plus $90.00 for a five-year license (you could learn more about licensing fees on DriveTest’s website).
        </div>
      </details>
      </div>
    
      
    <div class="container1">
    
        <details>
        <summary>What You Need To Know Before Taking The G2 Driving Test</summary>
    
        <div>
            Are you starting the process of getting your G2, or have a child who’s ready to take the next step
             in the graduated licencing process? Preparation is essential to pass the G2 driver's test.
    
            If you are ready to pass your G2 on the first try, you'll benefit from this blog. We'll cover an 
            overview of what you need to know before taking your driving test.
        </div>
      </details>
      </div>
    
      <div class="container1">
    
        <details>
        <summary>How do I book A G road test?</summary>
    
        <div>
            This test assesses more advanced driving skills, includes a highway component,
             and usually takes about 30 minutes. If you are successful, you will be issued a Class G licence.
    
    You will be required to practice driving for at least a year after obtaining your Class G2 licence before
     you qualify for the Class G road test. See Car Licences for details.
        </div>
      </details>
      </div>